<%= f.label :show_id, "Select a Show" %>
  <% f.collection_select :show_id, Show.all, :id, :title, include_blank: true %>

  <br></br>

<h3>Or add a new show:</h3>
<%= render partial: "layouts/errors", locals: { object: @costume.show } %>


<%= f.fields_for :show do |s| %>
  <%= s.label :title %>
  <%= s.text_field :title %>
  <br></br>

  














<%= f.submit %>
<% end %>