<h1>Build a costume from pieces in inventory</h1>

<%= render partial: "layouts/errors", locals: { object: @costume } %>


<%= form_for @costume do |f| %>

<h3>Costume Details:</h3>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br></br>

  <%= f.submit%>
<% end %>




