<h1>Build a costume from pieces in inventory</h1>

<%= render partial: "layouts/errors", locals: { object: @costume } %>

<%= form_for [@show,@costume] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br></br>

  <%= f.label :piece_id %>
  <%= f.collection_select :piece_id, current_user.races, :id, :title    %>

  <br></br>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= show_form_option(f) %>
  <%= f.submit%>
<% end %>







